/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #e0455f, #fff);
    color: #333;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #e0455f;
    background-image: linear-gradient(147deg, #e0455f 0%, #44000b 74%);
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.nav a:hover {
    color: rgb(1, 61, 182);
}

.nav img {
    height: 50px;
    width: 50px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    color: #e0455f;
    text-align: center;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #e0455f;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

button {
    padding: 12px 30px;
    background-color: #e0455f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    font-weight: bold;
}

button:hover {
    background-color: #610a19;
}

footer {
    text-align: center;
}

input[type="checkbox"] {
    margin-right: 10px;
}
